label {
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  width: 250px;
}

select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 5px;
	width: 170px;
	background: black;
	color: white;
	font-family: Sans-Serif;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 10px;
}

.start {
  width: 1690px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	background: grey;
	color: white;
	font-family: Sans-Serif;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	cursor: pointer;
	border-radius: 5px;
}

body {
   transform: scale(0.8);
   transform-origin: 0 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 40px;
  height: 400px;
  background-color: #F7F5F2;
}
