label {
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  width: 250px;
}

select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 5px;
	width: 170px;
	background: black;
	color: white;
	font-family: Sans-Serif;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 10px;
}

.start {
  width: 1690px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	background: grey;
	color: white;
	font-family: Sans-Serif;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	cursor: pointer;
	border-radius: 5px;
}

body {
   transform: scale(0.8);
   transform-origin: 0 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 40px;
  height: 400px;
  background-color: #F7F5F2;
}

.container {
  margin: 40px;
  height: 400px;
  background-color: #F7F5F2;
}




* {
  box-sizing: border-box;
}

table {
  width: 100%;
  max-width: 1200px;
  height: 320px;
  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 50px auto;
  background: white;
}
th {
  background: steelblue;
  height: 100px;
  width: 25%;
  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  color: white;
  border: 1px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
}
tr {
  border-bottom: 1px solid #cccccc;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  transition: all 0.2s;
}
td:last-child {
  border-right: 0px;
}
td.selected {
  background: #d7e4ef;
  z-index: ;
}
td input {
  font-size: 14px;
  background: none;
  outline: none;
  border: 0;
  display: table-cell;
  height: 100%;
  width: 100%;
}
td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}
::-moz-selection {
  background: steelblue;
  color: white;
}
::selection {
  background: steelblue;
  color: white;
}
.heavyTable {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}
.main {
  max-width: 600px;
  padding: 10px;
  margin: auto;
}
.content {
  color: white;
  text-align: center;
}
.content p,
.content pre,
.content h2 {
  text-align: left;
}
.content pre {
  padding: 1.2em 0 0.5em;
  background: white;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.9);
  color: #38678f;
}
.content .download {
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 1em 1em;
  border-radius: 12em;
  margin-bottom: 2em;
}
.content .button {
  display: inline-block;
  text-decoration: none;
  color: white;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  border-radius: 24px;
  border: 1px solid #38678f;
  background: steelblue;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 3px rgba(255, 255, 255, 0.2);
  transition: all 0.1s;
}
.content .button:hover {
  background: #4f8aba;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1);
}
.content .button:active {
  color: #294d6b;
  background: #427aa9;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.content .button:focus {
  outline: none;
}
h1 {
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#C  {
  color: red;
  width: 250px;
  height: 150px;
}
#S {
  color: blueviolet;
  width: 250px;
  height: 150px;
}

#D {
  COLOR: GREEN;
    width: 250px;
  height: 150px;
}

#popup {
  position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.checkboxes label {
  text-align: center;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}
